$right-margin: 2rem;

@mixin modal-menu-buttons-hover {
  background-color: #39ada8;
  box-shadow: inset 0 4px 1px #2d8783;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  height: 3000px;
}

.modal-menu-wrapper {
  position: relative;
  left: 100px;
  transition: all 0.4s;
  margin-top: 15px;
  &--active {
    left: 0px;
  }
}

.modal-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  right: $right-margin;
  top: 30%; 
}

.modal-menu__item {
  margin-bottom: .5rem;
  cursor: pointer;
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 3;
  color: #fff;
  border-radius: 100%;
  background-color: #40c0ba;
  transition: all .3s;

  &:hover {
    @include modal-menu-buttons-hover;
  }

  &--animate > img {
    animation: opas 2s infinite linear;
  }
}

.modals__item {
  position: fixed;
  display: flex;
  width: 0px;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #484848;
  overflow: hidden;
  opacity: 0%;
  z-index: 2;
  transition: all ease-in-out .5s;

  &--active {
    opacity: 80%;
    width: auto;
    inset: 0;
  }
}

.modal-menu__burger {
  position: relative;
  width: 2rem;
  height: 2rem;
  border-radius: 100px;
  cursor: pointer;
  background-color: rgb(64, 192, 186);

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 50%;
    height: 3px;
    background-color: #fff;
    transition: .4s;
    top: 35%;
    left: calc((2rem - 50%) / 2);
  }

  &:hover {
    @include modal-menu-buttons-hover;
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 50%;
    height: 3px;
    background-color: #fff;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    top: 55%;
    left: calc((2rem - 50%) / 2);

  }

  &--active {
    &::before {
      top: 45%;
      transform: rotate(45deg);
    }
    &::after {
      top: 45%;
      transform: rotate(-45deg);
    }
  }
}

.modal-content {
  position: relative;
  background: url("./assets/img/main/bgf.png") center center / 100% 100% no-repeat;
  max-width: 20rem;
  padding: 5rem 3rem 2.5rem 3rem;
}

.modal_close_btn {
  position: absolute;
  width: 1.4rem;
  height: 1.4rem;
  top: 3.5rem;
  right: 2rem;
  cursor: pointer;

  &::before, &::after {
    left: 50%;
    position: absolute;
    content: '';
    height: 100%;
    width: 2px;
    background: #d1d1d1;
    transition: all .4s;
    border-radius: 3px;
    transform: rotate(45deg);
  }

  &::before {
    transform: rotate(-45deg);
  }

  &:hover::before, &:hover::after{
    background: #282828;
  }
}

.modal__header_main {
  text-align: center;
  color: rgb(65, 169, 166);
  font-weight: 700;
  font-size: 1.25rem;
}

.modal__header {
  display: flex;
  flex-direction: column;
  row-gap: .5rem;
  text-align: center;
}

.modal__header_image {
  transition: all .4s;
  width: 100%;
  height: 100%;

  &:hover {
    transform: scale(1.15);
  }
}

.modal__header_description {
  text-align: center;
  color: #898989;
  font-size: .83rem;
}

.modal__form {
  display: flex;
  flex-direction: column;
  margin: .5rem 0;
  row-gap: 0.7rem;
}

.form_btn_img {
  display: block;
  width: 25px;
}

.modal__form_btn {
  display: flex;
  column-gap: 0.5rem;
  // justify-content: space-between;
  align-items: center;
  letter-spacing: .1rem;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  padding: .7rem 1.3rem;
  line-height: 1.15;
  transition: all .3s;
  z-index: 6;
  cursor: pointer;
  border: none;
  position: relative;
  // white-space: nowrap;
  border-radius: 50px;
  background-color: #272e3b;
  background-image: -o-radial-gradient(46.28% -46.25%,circle 1073px,#51c2be 0,#51c2be 11%,#389b99 100%);
  background-image: radial-gradient(circle 1073px at 46.28% -46.25%,#51c2be 0,#51c2be 11%,#389b99 100%);
  box-shadow: 0 4px 0 #389795,inset 0 0 27px rgba(119,224,224,.71);

  &:hover {
    box-shadow: 0 -4px 0 #389795,inset 0 4px 3px rgba(119,224,224,.71);
  }
}

.modal__form_agreement {
  display: flex;
  column-gap: 0.5rem;
  font-size: .68rem;
}

.modal__form_input {
  font-weight: 500;
  font-size: .83rem;
  outline: 0;
  padding: 1.4rem 2rem;
  line-height: 1.15;
  border: none;
  background-color: transparent;
  align-self: center;
  width: 100%;
  position: relative;
  box-shadow: inset 0 3px 7px rgba(0,0,0,.1);
  border-radius: 53px;
  background-color: #f6f4f4;

  &::placeholder {
    color: #2f2f2f;
  }
}

@keyframes opas {
  0% {
    opacity: .2
  }
  60% {
    opacity: 1
  }
  100% {
    opacity: .2
  }
}